.rooms{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* background-color: aqua; */
}
.room-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;

    background-color: white;
}


.messages{
    display: flex;
    margin-right: 20px;
}

.user, .other, .file{
    padding: 8px 12px;
    font-weight: bold;
    background-color: white;
}

.user{
    color: blue;
    justify-self: flex-end;
    margin-right: 15px;
    border: 4px solid blue;
    border-radius: 15px 15px 0 15px;
}

.other{
    color: black;
    justify-self: flex-start;
    margin-left: 20px;
    border: 4px solid black;
    border-radius: 15px 15px 15px 0px;
}

.file{
    justify-self: center;
    border-radius: 15px 15px 15px 15px;
    margin: 5px 0;
}

.notification{
    justify-self: center;
    font-style: italic;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    overflow-y: auto;
    background-color: lightgray;
}

.user-text {
    width: 100%; 
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

.user-chat {
    width: 600px;
    height: 40px;
    /* background-color: bisque; */
}

.create-room-con{

}
.room-form form{
    display: flex;
    flex-direction: column;
    
}