
.messages{
    display: flex;
    margin-right: 20px;
    
    
}

.user, .other{
    padding: 8px 12px;
    font-weight: bold;
    background-color: white;
}

.user{
    color: blue;
    justify-self: flex-end;
    margin-right: 15px;
    border: 4px solid blue;
    border-radius: 15px 15px 0 15px;
}

.other{
    color: black;
    justify-self: flex-start;
    margin-left: 20px;
    border: 4px solid black;
    border-radius: 15px 15px 15px 0px;
}

.notification{
    justify-self: center;
    font-weight: bold;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-box{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 300px;
    border: 1px solid black;
    overflow-y: auto;
    background-color: lightgray;
    

}

.user-text{
    margin-top: auto;
}

.room{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.room button{
    margin-left: 5px;
    width: 100px;
    height: 50%;
}

.room-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
    width: 200px;
    border: 3px solid black;
}

.room-box h2{
    margin-bottom: 2px;
}